<div class="jumbotron">
    <h1 class="container well text-center">{{ heyThere }}</h1>
    <div class="container">
        <div class="well row">
            <form class="pull-left col-sm-4">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num1" placeholder="Jan">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num2" placeholder="Feb">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num3" placeholder="Mar">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num4" placeholder="Apr">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num5" placeholder="May">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num6" placeholder="Jun">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num7" placeholder="Jul">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num8" placeholder="Aug">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num9" placeholder="Sep">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num10" placeholder="Oct">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num11" placeholder="Nov">
                        </div>
                        <div class="form-group">
                            <input type="field" class="form-control" ng-model="data.num12" placeholder="Dec">
                        </div>
                    </div>
                </div>
                  <button type="submit" ng-click="addData(data)" class="btn btn-default">Submit</button>
            </form>
            <div class="col-sm-8">
                <hc-charts options="chartOptions">Placeholder for generic chart</hc-charts>
            </div>
        </div>
    </div>    
   <!--  <div ng-repeat="name in names" class="text-center container well">
        <span>I am {{name.j}}</span>
        <hr>
        <span>my first born's name is {{name.a}}</span>
        <hr>
        <span>my second born's name is {{name.k}}</span>
    </div> -->
</div>